/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* RESET CSS BEGIN */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    direction:rtl;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*RESET CSS END*/


/* HELPER CLASSES BEGIN */
.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p,
ul li,
ol li {
    font-size: 17px;
    line-height: 24px;
}

/*HELPER CLASSES END*/


/* GENERAL RULES*/
* {
    box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family: fblight;
    src: url(../../assets/FBKARLIBACH-LIGHT.OTF);
}
@font-face {
    font-family: fbbold;
    src: url(../../assets/FBKARLIBACH-BOLD.OTF);
}

/* Classes */
.container
{
    max-width:1280px;
    width:100%;
    height: auto;
    margin:0 auto;
    position: relative;
    overflow: hidden;
}
/*  header section  */

#header
{
    background-image: url("../../assets/bg.png");
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    z-index: -100;
}
#header .strip
{
    background: #fff;
    width:100%;
    height:65px;
    position: fixed;
    z-index: 100;
    right: 0;
}
#header .menu
{
    float:right;
    margin: 20px 0;
}
#header .navbar
{
    display: none;
}
#header .dropdown-content
{
    display: none;
}
#header .word
{
    display: inline-block;
    padding: 10px;
    font-family: "fblight";
    border-left: 1px #2f2f2f solid;
    line-height: 1px;

}
#header .word a
{
    cursor: pointer;
    text-decoration: none;
}
#header .word:hover
{
    border-bottom: 10px solid #c69c6d;
}
#header .mish
{
    float: left;
    margin: 26px 20px;
    font-family: "fblight";
}
#header .logo1
{
    margin: 205px 363px 0 0;
}
#header .logoSmall
{
    display: none;
}
#header .button1
{
    margin: 130px 480px 30px 450px;
    width: 270px;
    height: 60px;
    background: #e5e1dd;
    border-radius: 35px;
    text-align: center;
    padding: 20px 0 0 15px;
}
#header .button1 a
{
    text-decoration: none;
    color: #2f2f2f;
    font-family: fblight;
    font-size: 25px;
    cursor: pointer;
}
#header span
{
    position:relative;
    margin: 0 1px 0 0;
}
#header span img
{
    padding-bottom: 1px;
}
#header .info1
{
    color: #fff;
    margin: 45px 470px 150px 0;
}
#header .info1 h5
{
    font-family: 'fbbold';
    font-size: 22px;
    margin: 0 90px 0 0;
}
#header .first
{
    font-family: 'fblight';
    font-size: 22px;
    padding: 6px 20px 6px 0;
}
#header .second
{
    font-family: 'fblight';
    font-size: 22px;
   padding: 0 50px 0 0;
}
#header .arrow_down
{
    position: absolute;
    top: 840px;
    right: 513px;
    cursor: pointer;
    color: #fff;
}
/*  about section  */
#about
{
    background-color: #c69c6d;
}
#about h3
{
    margin: 78px 520px 10px 0;
    font-size: 50px;
    font-family: "Myriad Hebrew";
    border-bottom: 1px solid #2e2e2e;
    width: 174px;
}
#about p
{
    color: #fff;
    font-size: 22px;
    font-family: "fblight";
    width: 99%;
    margin: 10px;
    word-spacing: 5px;
}

#about .slider
{
    width: 100%;
    background: transparent;
    height: 476px;
}
#about .img1
{
    margin-top: -250px;
    height: 476px;
}
#about .pic11
{
    z-index: 5;
}
#about .pic12
{
    z-index: 4;
}
#about .pic13
{
    z-index: 3;
}
#about .pic14
{
    z-index: 2;
}
#about .pic15
{
    z-index: 1;
}
#about .img1
{
    position: absolute;
    top:585px;
    left:0;
}
/*  footer section  */
#footer
{
    background: #fff;

}
#footer .container
{
    height: 65px;
}
#footer p
{
    float: left;
    margin: 25px 0 0 10px;
    color: #0057ac;
    font-size: 20px;
    line-height: 23px;
}
#footer .logo
{
    float: left;
    margin: 15px 0 0 0;
}
@media screen and (max-width: 1180px)
{
    #header .logo1
    {
        margin: 205px 29% 0
    }
    #header .button1
    {
        margin: 130px 440px 30px 450px;
    }
    #header .info1
    {
        margin: 45px 432px 150px 0;
    }
    #header .arrow_down
    {
        right: 473px;
    }
    #about h3
    {
        margin: 78px 485px 10px 0;
    }
    #about p
    {
        font-size: 18px;
        width: 98%;
        margin-right: 20px;
    }
}
@media screen and (max-width: 1080px)
{
    #header .logo1
    {
        margin: 205px 26% 0
    }
    #header .button1
    {
        margin: 130px 420px 30px 450px;
    }
    #header .info1
    {
        margin: 45px 412px 150px 0;
    }
    #header .arrow_down
    {
        right: 453px;
    }
    #about h3
    {
        margin: 78px 465px 10px 0;
    }
    #about p
    {
        font-size: 18px;
        width: 98%;
        margin-right: 20px;
    }
}
@media screen and (max-width: 900px)
{
    #header .logo1
    {
        margin: 205px 20% 0
    }
    #header .button1
    {
        margin: 130px 300px 30px;
    }
    #header .info1
    {
        margin: 45px 292px 150px 0;
    }
    #header .arrow_down
    {
        right: 333px;
    }
    #about h3
    {
        margin: 78px 345px 10px 0;
    }
    #about p
    {
        font-size: 18px;
        width: 98%;
        margin-right: 20px;
    }
    #about .slider
    {
        height: 466px;
    }
}
@media screen and (max-width: 700px)
{
    #header .logo1
    {
        margin: 205px 12% 0
    }
    #header .button1
    {
        margin: 130px 200px 30px;
    }
    #header .info1
    {
        margin: 45px 192px 150px 0;
    }
    #header .arrow_down
    {
        right: 233px;
    }
    #about h3
    {
        margin: 78px 245px 10px 0;
    }
    #about p
    {
        font-size: 15px;
        width: 97%;
        margin-right: 15px;
        margin-left: 15px;
    }
}
@media screen and (max-width: 600px)
{
    #header .logo1
    {
        margin: 205px 2% 0
    }
    #header .button1
    {
        margin: 130px 135px 30px;
    }
    #header .info1
    {
        margin: 45px 127px 150px 0;
    }
    #header .arrow_down
    {
        right: 168px;
    }
    #about h3
    {
        margin: 78px 180px 10px 0;
    }
    #about .slider
    {
        height: 366px;
    }
}
@media screen and (max-width: 500px)
{
    #header .logo1
    {
        margin: 205px -13px 0 0;
    }
    #header .menu
    {
        display: none;
    }
    #header .navbar
    {
        display: block;
    }
    #header .navbar img
    {
        width: 40px;
        height: 31px;
        position: absolute;
        top: 13px;
        right: 20px;
    }
    #header .dropdown-content
    {
        display: block;
        position: absolute;
        top: 55px;
        right: 10px;
        width: 65px;
        height: 100px;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 9999;
        overflow: hidden;
        text-align: center;
    }
    #header .dropdown-content a
    {
       line-height: 25px;
        color: #c69c6d;
        text-decoration: none;
    }
    #header .button1
    {
        margin: 130px 85px 30px;
    }
    #header .info1
    {
        margin: 45px 77px 150px 0;
    }
    #header .arrow_down
    {
        right: 118px;
    }
    #about h3
    {
        margin: 78px 130px 10px 0;
    }
    #about p
    {
        font-size: 15px;
        width: 96%;
        margin-right: 12px;
        margin-left: 10px;
    }
    #about .slider
    {
        height: 366px;
    }
}
@media screen and (max-width: 470px)
{
    #header .logo1
    {
        display: none;
    }
    #header .logoSmall
    {
        position: absolute;
        top: 100px;
        right: 131px;
        display: block;
    }
    #header .button1
    {
        width: 150px;
        height: 50px;
        margin: 230px 120px 30px;
        padding: 18px 7px 0 15px;
    }
    #header .button1 a
    {
        font-size: 20px;
    }
    #header .info1
    {
        margin: 45px 52px 150px 0;
    }
    #header .arrow_down
    {
        right: 90px;
        top: 423px;
    }
    #about h3
    {
        margin: 78px 110px 10px 0;
    }
}
@media screen and (max-width: 361px)
{
    #header .logoSmall
    {
        position: absolute;
        top: 100px;
        right: 112px;
        display: block;
    }
    #header .button1
    {
        width: 150px;
        height: 50px;
        margin: 230px 94px 30px;
        padding: 18px 7px 0 15px;
    }
    #header .button1 a
    {
        font-size: 20px;
    }
    #header .info1
    {
        margin: 45px 32px 150px 0;
    }
    #header .arrow_down
    {
        right: 70px;
        top: 423px;
    }
    #about h3
    {
        margin: 58px 90px 10px 0;
    }
    #about p
    {
        font-size: 11px;
        width: 97%;
        word-spacing: 0;
    }
    #about .slider
    {
        height: 436px;
    }
    #header .dropdown-content
    {
        width: 60px;
    }
}
