/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* RESET CSS BEGIN */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    direction:rtl;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*RESET CSS END*/


/* HELPER CLASSES BEGIN */
.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p,
ul li,
ol li {
    font-size: 17px;
    line-height: 24px;
}

/*HELPER CLASSES END*/


/* GENERAL RULES*/
* {
    box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family: fblight;
    src: url(../../assets/FBKARLIBACH-LIGHT.OTF);
}
@font-face {
    font-family: fbbold;
    src: url(../../assets/FBKARLIBACH-BOLD.OTF);
}

/* Classes */
.container
{
    max-width:1280px;
    width:100%;
    height: auto;
    margin:0 auto;
    position: relative;
    overflow: hidden;
}
/*  header section  */

#header
{
    background-image: url("../../assets/bg.png");
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    z-index: -100;
}
#header .strip
{
    background: #fff;
    width:100%;
    height:65px;
    position: fixed;
    z-index: 100;
    right: 0;
}
#header .menu
{
    float:right;
    margin: 20px 0;
}
#header .navbar
{
    display: none;
}
#header .dropdown-content
{
    display: none;
}
#header .word
{
    display: inline-block;
    padding: 10px;
    font-family: "fblight";
    border-left: 1px #2f2f2f solid;
    line-height: 1px;

}
#header .word a
{
    cursor: pointer;
    text-decoration: none;
}
#header .word:hover
{
    border-bottom: 10px solid #c69c6d;
}
#header .mish {
    float: left;
    margin: 26px 20px;
    font-family: "fblight";
}
#about
{
    background-color: #c69c6d;
}
#about h3
{
    margin: 78px 520px 50px 0;
    font-size: 50px;
    font-family: "Myriad Hebrew";
    text-decoration: underline;
    width: 174px;
}
#about p
{
    color: #fff;
    font-size: 22px;
    font-family: "fblight";
    width: 99%;
    margin: 10px;
    word-spacing: 5px;
}

#about .slider
{
    width: 100%;
    background: transparent;
    height: 476px;
}
#about .img1
{
    margin-top: -250px;
    height: 476px;
}
#about .pic11
{
    z-index: 5;
}
#about .pic12
{
    z-index: 4;
}
#about .pic13
{
    z-index: 3;
}
#about .pic14
{
    z-index: 2;
}
#about .pic15
{
    z-index: 1;
}
#about .img1
{
    position: absolute;
    top:585px;
    left:0;
}
@media screen and (max-width:1150px)
{
    #about h3
    {
        margin: 78px 470px 50px 0;
    }
}
@media screen and (max-width:1150px)
{
    #about h3
    {
        margin: 78px 410px 50px 0;
    }
    #about p
    {
        font-size: 18px;
        width: 97%;
        margin: 15px;
    }
}
@media screen and (max-width:1150px)
{
    #about h3
    {
        margin: 78px 430px 50px 0;
    }
}
@media screen and (max-width:900px)
{
    #about h3
    {
        margin: 78px 325px 50px 0;
    }
}
@media screen and (max-width:750px)
{
    #about h3
    {
        margin: 78px 240px 20px 0;
    }
}
@media screen and (max-width:700px)
{
    #about p
    {
        font-size: 15px;
        width: 97%;
        margin: 15px;
    }
}
@media screen and (max-width:600px)
{
    #about h3
    {
        margin: 78px 210px 20px 0;
    }
    #about p
    {
        font-size: 13px;
        width: 97%;
        margin: 12px;
    }
}
@media screen and (max-width:500px)
{
    #header .menu
    {
        display: none;
    }
    #header .navbar
    {
        display: block;
    }
    #header .navbar img
    {
        width: 40px;
        height: 31px;
        position: absolute;
        top: 13px;
        right: 20px;
    }
    #header .dropdown-content
    {
        display: block;
        position: absolute;
        top: 55px;
        right: 10px;
        width: 65px;
        height: 100px;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 9999;
        overflow: hidden;
        text-align: center;
    }
    #header .dropdown-content a
    {
        line-height: 25px;
        color: #c69c6d;
        text-decoration: none;
    }
    #about h3
    {
        margin: 78px 120px 20px 0;
    }
    #about p
    {
        margin-top: -11px;
        font-size: 10px;
    }
    #about .slider
    {

        width: 100%;
        background: transparent;
        height: 436px;
    }
}
@media screen and (max-width:361px)
{
    #about h3
    {
        margin: 78px 75px 20px 0;
        font-size: 50px;
    }
    #about p
    {
        font-size: 11px;
        word-spacing: 0;
    }
    #header .dropdown-content
    {
        width: 60px;
    }
}